$xsmall: 1px;
$small: 300px;
$smallmedium: 800px;
$medium: 1024px;
$large: 1440px;

@mixin resp($media) {
  
  @if $media == xsmall {
    @media only screen and (min-width: $xsmall) and (max-width: $small - 1) { @content; }
  }
    @elseif $media == small {
    @media only screen and (min-width: $small) and (max-width: $smallmedium - 1) { @content; }
  }
  @else if $media == smallmedium {
    @media only screen and (min-width: $smallmedium) and (max-width: $medium - 1) { @content; }
  }
  @else if $media == medium {
    @media only screen and (min-width: $medium) and (max-width: $large - 1) { @content; }
  }
  @else if $media == large {
    @media only screen and (min-width: $large) { @content; }
  }
}